.footer-wrapper {

    border-top: 8px solid var(--primary-active);
    background: var(--bg-inner);
    color: var(--text-main);

    display: grid;

    grid-template-columns: minmax(1rem, 1fr) 75rem minmax(1rem, 1fr);
    grid-template-rows: 1fr;

    /* Width: fill */
    width: 100%;

    height: auto;

    align-items: center;
    min-width: 100vh;
}
.footer-wrapper > * {
    grid-column: 2;
}

.footer-content {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: auto;

    align-items: flex-start;
    justify-content: center;

    padding-top: 2rem;
    padding-bottom: 4rem;
}
.footer-content-col {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    gap: 0;

    margin-bottom: 1rem;
}
.footer-content-col p {
    margin-bottom: 1rem;
}

.footer-content a {
    color: var(--text-alternative);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

.footer-content a:hover {
    color: var(--primary-active);
    text-decoration: underline;
}
.devs {
    font-weight: bold;
    color: var(--primary-active);
}

.footer-legal {
    border-top: 1px solid var(--text-main-alt);

    width: 100%;
    height: auto;

    align-items: center;
    justify-content: center;
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}