@import "@fontsource/roboto/100.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/900.css";

@import "@fontsource/roboto-mono/400.css";
@import "@fontsource/roboto-mono/700.css";

:root {
    /* ACCENT/ACTION */
    --primary-active: #FF5F00;
    --primary-inactive: #FFBF99;

    --secondary-active: #FDC92A;
    --secondary-inactive: #F1EEEE;

    /* TEXTS */
    --text-main: #512B2B;
    --text-main-alt: #512B2B29;
    --text-header: #FB4F00;
    --text-alternative: #257886;
    --text-hover: #512B2B08;

    /* BACKGROUND */
    --bg-inner: #ffffff;
    --bg-outer: #FDF6EE;
    --bg-alternative: #FEECE0;
    --bg-alternative2: #FFE4C5;

    /* STEPS UI */
    --steps-outer: #FFE4C5;

    --steps-text-active: #FFFFFF;
    --steps-text-inactive: #FFFFFF;
    --steps-text-completed: #FFFFFF;

    --steps-completed: #FF5F00;
    --steps-active: #FDC92A;
    --steps-inactive: #b58b76;
}

[data-theme="dark"] {
    --primary-active: #FB4F00;
    --primary-inactive: #FFBF99;

    --secondary-active: #FDC92A;
    --secondary-inactive: #F1EEEE;

    /* [DARK] TEXTS */
    --text-main: #F2EDEB;
    --text-main-alt: #F2EDEB29;
    --text-header: #FB4F00;
    --text-alternative: #31A3AE;
    --text-hover: #512B2B08;

    /* [DARK] BACKGROUND */
    --bg-inner: #2E2E2E;
    --bg-outer: #121212;
    --bg-alternative: #FEECE0;
    --bg-alternative2: #FFE4C5;
    --bg-label: #F1EEEE;

    /* [DARK] STEPS */
    --steps-outer: #4C4947;

    --steps-text-active: #6A5C54;
    --steps-text-inactive: #6A5C54;
    --steps-text-completed: #FFFFFF;

    --steps-completed: #8F715F;
    --steps-active: #FDC92A;
    --steps-inactive: #121212;
}

/* DEFAULT OVERRIDE */
p {
	margin: 0;
}
body {
	border-top: 3px solid var(--primary-active);
	background: var(--bg-outer);

	font-family: "Roboto", sans-serif;

    margin: 0;
    overflow-x: hidden;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app-root {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	margin-top: 4rem;
}

.main-content-window {
	border-radius: 1rem;
	background: var(--bg-inner);

	box-sizing: border-box;
	padding: 2rem 1.5rem 3rem 1.5rem;
	margin-bottom: 2rem;

	width: 100%;
	height: auto;
}

/*MAIN OUTLET WRAPPER*/
.outlet-wrapper {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) 75rem minmax(1rem, 1fr);
	grid-template-rows: 1fr;

	width: 100%;
	height: auto;

	align-items: center;
	min-height: 100vh;
}
.outlet-wrapper > * {
	grid-column: 2;
}

#app-root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
