@import "@fontsource/roboto/100.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/900.css";

@import "@fontsource/roboto-mono/400.css";
@import "@fontsource/roboto-mono/700.css";

:root {
	/* ACCENT/ACTION */
	--primary-active: #ff5f00;
	--primary-inactive: #ffbf99;

	--secondary-active: #fdc92a;
	--secondary-inactive: #f1eeee;

	/* TEXTS */
	--text-main: #512b2b;
	--text-main-alt: #512b2b29;
	--text-header: #fb4f00;
	--text-alternative: #257886;

	/* BACKGROUND */
	--bg-inner: #ffffff;
	--bg-outer: #fdf6ee;
	--bg-alternative: #feece0;
	--bg-alternative2: #ffe4c5;

	/* STEPS UI */
	--steps-outer: #ffe4c5;

	--steps-text-active: #ffffff;
	--steps-text-inactive: #ffffff;
	--steps-text-completed: #ffffff;

	--steps-completed: #ff5f00;
	--steps-active: #fdc92a;
	--steps-inactive: #b58b76;
}

/* DEFAULT OVERRIDE */
p {
	margin: 0;
}
body {
	border-top: 3px solid var(--primary-active);
	background: var(--bg-outer);

	font-family: "Roboto", sans-serif;

	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app-root {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	margin-top: 4rem;
}

.main-content-window {
	border-radius: 1rem;
	background: var(--bg-inner);

	box-sizing: border-box;
	padding: 2rem 1.5rem 3rem 1.5rem;
	margin-bottom: 2rem;

	width: 100%;
	height: auto;
}

/*MAIN OUTLET WRAPPER*/
.outlet-wrapper {
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) 75rem minmax(1rem, 1fr);
	grid-template-rows: 1fr;

	width: 100%;
	height: auto;

	align-items: center;
	min-height: 100vh;
}
.outlet-wrapper > * {
	grid-column: 2;
}

#app-root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}
